h1{
  color: #FDF5E6;
  font-size: 40px;
  font-family: serif;
}

a{
  color: #FDF5E6;
  font-size: 18px;
  font-family: serif;
}

p{
  color: #FDF5E6;
  font-size: 18px;
  font-family: serif;
}

body {
  background-color: #30583b;
}
